body {
  background: rgb(19, 17, 17);
  color: white;
}

a {
  color: white;

}

/* //design for boxes in grid --make into circles later after getting to work*/
.box { 
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: -1px;
  margin-bottom: -1px;
}

/* dead boxes - off  make into images later possibly*/
.off{
  background: white;
}
/* alive boxes - on */
.on {
  background: green;
}
/* hover when making choice before game starts */
.box:hover {
  background: palevioletred;
}
/* design look */
.center {
  margin: auto;
  display: table;
  margin-top: 10px
}
/* all boxes inside grid */
.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  margin-top: 10px;
}
/* text stuff */
h1,h2,h3,h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 20px;
}


h4 {
  margin-top: 0px
}
/* design for rules */
.rules {
  margin: auto;
  display: table;
  margin-top: 5px;
  color: white;
  border: 5px groove #847979 ;
}


